body {
    background-image: url("../images/contact.jpg.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Lato', sans-serif;
        font-family: 'Oswald', sans-serif;
      }
      .wrapper{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
        /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
       /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
        /* clip-path: circle(25px at calc(0% + 45px) 45px); */
        background: #000;
        clip-path: circle(25px at calc(100% - 45px) 45px);
        transition: all 0.3s ease-in-out;
      }
      #active:checked ~ .wrapper{
        clip-path: circle(75%);
      }
      .menu-btn{
        position: absolute;
        z-index: 2;
        right: 20px;
        /* left: 20px; */
        top: 30px;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        font-size: 20px;
        color: #fff;
        cursor: pointer;
        /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
        /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
       /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
        
        transition: all 0.3s ease-in-out;
      }
      #active:checked ~ .menu-btn{
        color: #fff;
      }
      #active:checked ~ .menu-btn i:before{
        content: "\f00d";
      }
      .wrapper ul{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
      }
      .wrapper ul li{
        margin: 15px 0;
      }
      .wrapper ul li a{
        color: none;
        text-decoration: none;
        font-size: 30px;
        font-weight: 500;
        padding: 5px 30px;
        color: #fff;
        border-radius: 50px;
        background: #000;
        position: relative;
        line-height: 50px;
        transition: all 0.3s ease;
      }
      .wrapper ul li a:after{
        position: absolute;
        content: "";
        background: #fff;
         background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
        /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
        width: 104%;
        height: 110%;
        left: -2%;
        top: -5%; /* if the font is 'Oswald'*/
        border-radius: 50px;
        transform: scaleY(0);
        z-index: -1;
        animation: rotate 1.5s linear infinite;
        transition: transform 0.3s ease;
      }
      .wrapper ul li a:hover:after{
        transform: scaleY(1);
      }
      .wrapper ul li a:hover{
        color: #fff;
      }
      input[type="checkbox"]{
        display: none;
      }
      .content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        text-align: center;
        width: 100%;
        color: #fff;
      }
      .content .title{
        font-size: 80px;
        font-weight: 700;
      }
      .content p{
        font-size: 60px;
        font-weight: 600;
      }
      
      @keyframes rotate {
        0%{
          filter: hue-rotate(0deg);
        }
        100%{
          filter: hue-rotate(360deg);
        }
      }


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}